@charset "UTF-8";    /* 文字コードの指定 */
@import 'https://fonts.googleapis.com/css?family=Abel';    /* Google Fonts用のCSSを読み込み */

html{
    font-size: 62.5%;
}
.photo {
    background-image: url("images/sakura.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.text-center {
    width:100%;
    font-size:26px;
    color:#c71585;
    text-align: center;
    margin:20px;
}
.container h2{
    font-size:24px;
    text-align: center;
    background-color:#ffb6c1;
    border:1px solid pink;
    padding:10px;
    margin:20px;
}
.container p{
    font-size:16px;
    background-color:#fffafa;
    border:1px solid pink;
    padding:6px;
    margin:0px 20px 20px 20px;
}
.container div{
    flex:1;
}
.container{
    display:flex;
    flex-direction:row;
}

@media(max-width:768px){
    .box {
     height:250px;
    }
     .container{   
    flex-direction:column;
    }
}
.restaurant{
    font-size:22px;
    padding-top:30px;
    text-align: center;
    background-color:#b0c4de;
    padding-bottom:5px;
}

.botton{
    font-size:22px;
    width:200px;
    margin:20px auto;
    text-align: center;
    background-color:#fff;
    border:1px solid #0000ff;
    border-radius:5px;
}
